body {
  background-color: #fff;
  width: 390px;
  height: 844px;
  font-family: 'DM Sans', sans-serif;;
}

/* status-bar */
.status-bar {
  padding: 5px 3px;
  display: flex;
  justify-content: center;
}
.status-bar__column {
  width: 33%;
}
.status-bar__column:first-child span {
  margin-right: 2px;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.2em;
}

/* header */
.welcome-header {
  margin: 40px 0 48px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.welcome-header__title {
  font-size: 22px;
  font-weight: 500;
  padding: 24px;
  color: rgb(50, 50, 50);
}
.welcome-header__text {
  font-size: 14px;
  line-height: 1.2em;
  color: rgb(131, 131, 131);
}

/* form */
#login-form {
  margin: 16px;
  display: flex;
  flex-direction: column;
}
#login-form input:not([type=button]) {
  padding: 20px 8px;
  border: none;
  border-bottom: 0.4px solid rgb(164, 164, 164);
  font-size: 16px;
  transition: background-color 300ms;
}
#login-form input:not([type=button]):focus {
  background-color: rgba(246, 255, 0, 0.2);
}
#login-form input:not([type=button]):focus::placeholder{
  opacity: 0;
}
#login-form input::placeholder {
  color: rgb(164, 164, 164);
}
#login-form input[type=button] {
  border: none;
  padding: 16px 0;
  margin: 48px 0 24px 0;
  font-size: 16px;
  background-color: rgb(255, 238, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 4px 12px 2px rgba(119, 104, 15, 0.4);
}
#login-form a {
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  color: rgb(131, 131, 131);
}