/* main */
.friends__banner {
  padding: 16px 0; 
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: rgba(0,0,0,0.05);
  color: var(--color-text);
}
.friends__banner img {
  width: 16px;
  height: 16px;
  opacity: 0.3;
}
.friends__list header {
  padding-top: 12px;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(0,0,0,0.05);
}
.friends__list header span {
  font-size: 14px;
  color: var(--color-text-sub);
}
.friends__list header img {
  width: 16px;
  opacity: 0.3;
}
 