.nav ul {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 54px;
  /* justify-content: space-between; */
  /* align-items: center; */
  background-color: rgba(0, 0, 0, 0.05);
  border-top: 1px solid var(--color-text-disable);
}
.nav__btn {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__btn:nth-child(2) a,
.nav__btn:nth-child(4) a {
  position: relative;
}
.nav__notification {
  /* display: block; */
  position: absolute;
  top: -6px;
  right: -8px;
  width: 1.5em;
  height: 1.5em;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 150%;
  background-color: tomato;
  border-radius: 50%;
}
.nav__btn img {
  width: 24px;
  height: 24px;
}
.nav__update {
  position: absolute;
  top: 0;
  right: -4px;
  width: 4px;
  height: 4px;
  color: #fff;
  background-color: tomato;
  border-radius: 50%;
}