.nav {


}
.nav ul {
  z-index: 100;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 54px;
  /* justify-content: space-between; */
  /* align-items: center; */
  background-color: var(--color-bg-light-gray);
  border-top: 1px solid var(--color-text-disable);
}
.nav__btn {  
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__btn a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__btn:nth-child(2) a,
.nav__btn:nth-child(4) a {
  position: relative;
}
.nav__btn:nth-child(2) a::before {
  /* display: block; */
  /* content: '1'; */
  position: absolute;
  top: 10px;
  right: 27px;
  /* width: 1.5em;
  height: 1.5em;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 150%;
  background-color: tomato;
  border-radius: 50%; */
}
.nav__btn img {
  width: 24px;
  height: 24px;
}
.nav__update {
  position: absolute;
  top: 0;
  right: -4px;
  width: 4px;
  height: 4px;
  color: #fff;
  background-color: tomato;
  border-radius: 50%;
}